.delete-dialog {
    position: relative;
    z-index: 10000;
}
.delete-dialog__buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
}
::backdrop {
    background: rgba( 0, 0, 0, .7 );
}
